.comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.comment>img {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.commentBox {
  flex: 1;
}

.commentContent {
  background: var(--grey-750);
  border-radius: 8px;
  padding: 1rem;
}

.commentContent header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authorAndTime strong {
  display: block;
  font-size: 0.875rem;
  justify-content: space-between;
}

.authorAndTime time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.commentContent header button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
}

.commentContent header button:hover {
  color: var(--red-500);
}